body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #222;
  background-image: url("https://i.pinimg.com/originals/b8/27/17/b8271718bf816c3e27709298e9233f70.jpg");
 }

main {
  background: #000000d0;
  color: white;
  padding: 2.5em;
  border-radius: 5%;
  width: 50%;
  max-width: 500px;
  
}

#search-button.search {
    border-radius: 75%;

    border: none;
    background: #7c7c7c2b;
    color: white;
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#search-button.search:hover {
  background: #7c7c7c6b;
}

#searchbar.search {
  border: none;
  width: 50%;
  outline: none;
  color: white;
  padding: 0.5em;
  border-radius: 18px;
  background: #7c7c7c2b;
}

#comment-btn {
  
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#city-name {
  text-align: center;
}

.search {
  text-align: center;
}

#searchbar.search {
  text-align: left;
} 

#new-comment {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#title {
  text-align: center;
}

#weather-report {
  text-align: center;
}

#temperature {
  text-align: center;
}

#windspeed {
  text-align: center;
}

#comments-header {
  text-align: center;
}

#what-to-wear {
  text-align: center;
}